# vim: set ts=8 sw=8 sts=8 noexpandtab nosmartindent :


[alias]
	# most of these aliases are directly taken from https://git.wiki.kernel.org/index.php/Aliases
	s = status
	st = status -s
	cl = clone
	ci = commit
	co = checkout
	br = branch
	r = reset
	cp = cherry-pick
	fp = fetch --progress
	poh = push origin head
	df = diff
	dc = diff --cached

	# a shortcut for seeig the fetched commits
	lc = log ORIG_HEAD.. --stat --no-merges

	# undo the last commit
	undo = reset --soft HEAD^

	changes = diff --name-status -r
	diffstat = diff --stat -r

	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"

	# pretty logs
	lg = log --graph --pretty=format:'%C(green)%h %C(yellow)[%<(12,trunc)%ad] %C(bold blue)[%<(13,trunc)%cn] %Creset%<(80,trunc)%s %Cred%d%Creset' --decorate --date=relative
	ls = log --pretty=format:'%C(green)%h %C(yellow)[%<(12,trunc)%ad] %C(bold blue)[%<(13,trunc)%cn] %Creset%<(80,trunc)%s %Cred%d%Creset' --decorate --date=relative
	ls10 = log --pretty=format:'%C(green)%h %C(yellow)[%<(12,trunc)%ad] %C(bold blue)[%<(13,trunc)%cn] %Creset%<(80,trunc)%s %Cred%d%Creset' --decorate --date=relative -10

[push]
	default = current

[pull]
	rebase = true

[rebase]
	autoStash = true

[fetch]
	prune = true

[core]
	editor = vim
	pager = less -FRSX

[include]
	path = ~/.gitconfig_local
